body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.seconBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.mapMainBox {
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}
.img {
  max-width: 100px;
  height: 100px;
  width: 100%;
  border: 1px solid black;
}
.pharagrap {
  width: 100%;
  border: 1px solid black;
  font-size: 20px;
  background-color: cadetblue;
}
